[submodule "my_plugins/vim-gutentags"]
	path = my_plugins/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule "my_plugins/tagbar"]
	path = my_plugins/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "my_plugins/LeaderF"]
	path = my_plugins/LeaderF
	url = git@github.com:Yggdroot/LeaderF.git
[submodule "my_plugins/bufferhint"]
	path = my_plugins/bufferhint
	url = git@github.com:bsdelf/bufferhint.git
[submodule "my_plugins/cscope.vim"]
	path = my_plugins/cscope.vim
	url = git@github.com:brookhong/cscope.vim.git
